---
import Postsquare from '../components/Postsquare.astro'
---
<!DOCTYPE html>
<html lang="en">
   <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Montserrat:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
   <head>
   <body>
      <div class="container">
         <Postsquare path="/homesick" imgpath="../../public/homesick.webp" hvrtext="Homesick" />
      </div>
   </body>
<html>

<style>
   html {
      margin: 0;
   }

   body { margin: 0; }

   a {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 2rem;
      margin: 0;
      margin-top: .5rem;
      margin-bottom: .5rem;
      text-decoration: none;
      color: #65ad51;
   }

   .container {
      display: grid;
      gap: 0;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
   }
</style>
